@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <p>
        <br />
        <br />
        <b>Book Review and Blogging</b> is an online based platform where any book lover can search any
        book and get the new trending book comparing with other books to buy or read as their interest.
        They can also review any book and get the review of others. For reviewing the book they will be
        rewarded as monthly basis to encourage them. Except reviewing they can rate the book and will
        also get recommendation regarding their searching. This platform will also help writers and
        publishers to promote their books and publications.
    </p>
</div>
