@{
    ViewData["Title"] = "Contact Us";
}
<div class="container">
    <p>
        <br />
        <br />
        <b>Technocrats Technology</b> is a team of enthusiast developers who are providing different software
        solutions to local businesses and startups Technocrats Technology has started its journey on May
        2019 and since then we have successfully completed 2 projects with 100% customer satisfaction.
        These past Software solutions demonstrate our ability to work on projects such as yours on time
        and within budget.
    </p>
</div>


